.error-notification__container {
  width: 300px;
  height: 80px;
  
  border-radius: 10px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  z-index: 100;
  border-radius: 5px;
  display: flex;
  background-color: aliceblue
}

.error-notification__container-message-container {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-notification__container-message-container-message {
  font-size: 20px;
  padding: 10px;
  margin: 0 auto;
}

.error-notification__container-button-container {
  width: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
  justify-content: center;
  background-color: brown;
  border-radius: 0 5px  5px 0;
  cursor: pointer;
}

.error-notification__container-button-container-button {
  width: inherit;
  text-align: center;
  font-size: 32px;
  margin: 0;
  font-family: Arial;
  color: lightgrey
}



@media screen and (min-width: 500px) {
  .error-notification__container {
    height: 80px;
    
  }
}